.card {
    background-color: var(--cards);
    border: 2px solid var(--borders);
    border-radius: 10px;
    padding: 2rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

p {
    padding-top: 1rem;
    
}

h2 {
    font-size: 1.5rem;
}
