.searchInput {
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
}

.searchInput input {
    width: 50%;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border-color: var(--borders);
    border-style: solid;
}
