* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    letter-spacing: 0.05em;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

/* ===== Fonts ===== */

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}


/* ===== Light theme ===== */

:root {
    --primary-bg: #F8FAFC;
    --secondary-bg: #F1F5F9;
    --app-bg: #F3F7FF;

    --primary-accent: #8ba0d8;
    --secondary-accent: #A5D8FF;

    --primary-text: #1E293B;
    --secondary-text: #F8FAFC;
    --accent-text: #64748B;

    --cards: #ffffff;
    --borders: #E2E8F0;
    --shadows: rgba(15, 23, 42, 0.08);
    --nav-active-bg: #e2e4e7;
    --theme-active-bg: var(--primary-accent);
    --theme-active-border: var(--primary-accent);
    --theme-active-text: var(--secondary-text);
}

[data-theme="dark"] {
    --primary-bg: #111827;
    --secondary-bg: #1F2937;
    --app-bg: #0F172A;

    --primary-accent: #8EA7FF;
    --secondary-accent: #60A5FA;

    --primary-text: #F8FAFC;
    --secondary-text: #CBD5E1;
    --accent-text: #94A3B8;

    --cards: #1E293B;
    --borders: #334155;
    --shadows: rgba(0, 0, 0, 0.35);
    --nav-active-bg: #334155;
    --theme-active-bg: #334155;
    --theme-active-border: var(--secondary-accent);
    --theme-active-text: var(--primary-text);
}

